body{
    background-color: black;
}

.col-md{
    color: rgb(199,36,177);
}

nav, section{
    background-color: black;
}

.nav-link{
    color: rgb(199,36,177);
}

.logo{
    height: 75px;
    width: 75px;
}

ul{
    display: inline-block;
}

li{
    display: inline-block;
}

.form-inline{
    float: right;
    padding-top: 10px;
}

.banner{
    height: 600px;
    width: 100%;
}

.main{
    background-color: beige;
}

.bio{
    width: 50%;
    text-align: center;
    background-color: black;
    color: rgb(199,36,177);
    height: 1000px;
}

.bioPic{
    width: 50%;
    text-align: center;
    background-color: black;
    height: 1000px;
    color: rgb(199,36,177);
}

footer{
    background-color: blueviolet;
}

.artist{
    height: 800px;
}


#galleryTitle{
    display: inline;
    text-align: center;
    line-height: 3;
}


.libary{
    display: flex;
    width: 80%;
    height: 300px;
}

.gallery{
    padding-top: 3cm;
    width: 300px;
    height: 300px;
    display: grid;
}


#appTitle{
    display: inline;
    text-align: center;
    line-height: 3;
}


.form{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 100px;
    display: inline;
}

.paypal{
    width: 150px;
    display: inline;
}

.formText{
    color: rgb(199,36,177);
}

.deposit{
    display: flex;
    align-items: center;
}

.deposit-text{
    margin-right: 10px;
    display: inline;
}


#guestTitle{
    display: inline;
    text-align: center;
    line-height: 3;
    color: rgb(199,36,177);
}


.guestMain{
    padding-top: 30px;
    text-align: center;
}

.guestMain hr{
    border: none;
    background-color: rgb(210, 39, 48);
    margin: 15px 0;
    height: 2px;
}

.location{
    color: gold;
    text-size-adjust: larger;
}

.address{
    color: orange;
}

.date{
    color: burlywood;
}

.footer{
    color: black;
}

.d-block{
    height: auto;
    width: 200px;
}

form {
    padding-left: 5rem;
    padding-right: 5rem;
    color: rgb(199,36,177);
}

.pinkbutton{
    background-color:#c724b1;
    color:#c724b1;
    border-color:#c724b1;
}
.justify{
    text-align: justify;
}

.paypal{
    padding-top: 10%;
    width: 50%;
}